NEXT_PUBLIC_SITE_URL=https://saferide.esheria.org
NEXT_PUBLIC_GITHUB_URL=https://github.com/esherialabs/saferider
NEXT_PUBLIC_HUGGINGFACE_URL=https://huggingface.co/esherialabs/saferide-gemma-4-e2b-v058-original-419806-litertlm
NEXT_PUBLIC_APK_URL=https://saferide.esheria.org/downloads/SafeRide-v0.5.8-Android-Preview-arm64.apk
